<div data-email="backdrop" class="backdrop is-hidden">
  <div class="modal-window" id="modalWindow">
    <button data-email="close" class="modal-close">
      <svg class="svg-close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="box-modal">
      <h2 class="title-modal">
        This <span class="title-green">email address</span> has already
        been entered
      </h2>
      <p class="subtitle-modal">
        You have already subscribed to our new products. Watch for offers at the
        mailing address.
      </p>
    </div>
  </div>
</div>
