<section class="footer">
    <div class="container footer__container">
        <div class="footer__media">
            <a href="" class="footer__logo"> Food Boutique
                <svg class="footer__title_svg">
                    <use href="./svg/icons.svg#organic"></use>
                </svg>
            </a>
            <ul class="footer__list">
                <li class="footer__item">
                    <svg class="footer__link">
                        <use href="./svg/icons.svg#facebook"></use>
                    </svg>
                </li>
                <li class="footer__item">
                    <svg class="footer__link">
                        <use href="./svg/icons.svg#instagram"></use>
                    </svg>
                </li>
                <li class="footer__item">
                    <svg class="footer__link">
                        <use href="./svg/icons.svg#youtube"></use>
                    </svg>
                </li>


            </ul>

        </div>
        <div class="footer__text">
            <h3 class="footer__title">Discover the Variety of Flavors and Quality</h3>
            <p class="footer__info">An online store where you will find fresh, natural and delicious products for a
                healthy life and unforgettable gastronomic adventures.</p>
        </div>
        <form class="footer__form">
            <h3 class="footer__subtitle">Subscribe and learn about new products!</h3>
            <label>
                <input class="footer__input" type="text" placeholder="Email" id="input">
            </label>
            <button type="submit" class="footer__bth">Send</button>
        </form>

        <div class="box">
            <p class="footer__subtext">Food Boutique. All rights reserved.</p>
            <p class="footer__subtext">Privacy Policy / Terms of Service</p>
        </div>
    </div>
</section>