<section class="products">
    <div class="container">
        <ul class="products__list">
            <li class="products__item">
                <img src="#" alt="avocado" class="products__img">
                <h2 class="products__title">Avocado</h2>
                <p class="products__category">Category:<span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>Each</span> </p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <p class="products__price">$1.99</p>

            </li>
            <li class="products__item">
                <img src="#" alt="tomato" class="products__img">
                <h2 class="products__title">Tomato</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>200 g</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <p class="products__price">$3.99</p>
            </li>
            <li class="products__item">
                <img src="#" alt="banana" class="products__img">
                <h2 class="products__title"></h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>1 piece</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <p class="products__price">$0.69</p>
            </li>
            <li class="products__item">
                <img src="#" alt="beetroot" class="products__img">
                <h2 class="products__title">beetroot</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>1 lb</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <p class="products__price">$3.99</p>
            </li>
            <li class="products__item">
                <img src="#" alt="Blueberries" class="products__img">
                <h2 class="products__title">Blueberries</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>6 oz</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <p class="products__price">$3.99</p>
            </li>
            <li class="products__item">
                <img src="#" alt="Butternut Squash" class="products__img">
                <h2 class="products__title">Butternut Squash</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>per ib</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <p class="products__price">$1.49</p>
            </li>
            <li class="products__item">
                <img src="#" alt="Cabbage" class="products__img">
                <h2 class="products__title">Cabbage</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>per head</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <p class="products__price">$1.99</p>
            </li>
            <li class="products__item">
                <img src="#" alt="Carrots" class="products__img">
                <h2 class="products__title">Carrots</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>1 lb</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <p class="products__price">$0.99</p>
            </li>

            <li class="products__item">
                <img src="#" alt="Challots" class="products__img">
                <h2 class="products__title">Challots</h2>
                <p class="products__category">Category: <span>Fresh Produce</span></p>
                <p class="products__size">Size: <span>0.5lb</span></p>
                <p class="products__popularity">Popularity: <span>0</span></p>
                <p class="products__price">$1.99</p>
            </li>
        </ul>
    </div>
</section>